
/* Body Of Page */

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background: rgb(226, 235, 6);
  background: radial-gradient(
    circle,
    rgba(226, 235, 6, 1) 25%,
    rgba(0, 161, 58, 1) 86%
  );
}

/* Sign In Button */

.signIn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    border-radius: 10px;
    color: #fff;
    width: 50px;
    height: 30px;
    cursor: pointer;
}




