/* Body Of Page */

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background: rgb(226, 235, 6);
  background: radial-gradient(
    circle,
    rgba(226, 235, 6, 1) 25%,
    rgba(0, 161, 58, 1) 86%
  );
}

/* Sign In Button */

.signIn {
  background-color: #7768ae;
  border-radius: 10px;
  color: #fff;
  width: 130px;
  height: 40px;
  text-align: center;
  cursor: pointer;
}

h1 {
  padding: 3px;
  font-size: 20px;
  color: #fff;
  text-align: center;
  text-decoration: underline;
  font-weight: bold;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 10px;
  color: white;
}

p {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

h1 {
  color: purple;
}
